# Python
.ruff_cache/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/

# Virtualenv
.venv/

# OS
.DS_Store

# Local configs
config.local.toml

# Data and outputs
data/*
!data/README.md
!data/urls_example.json
!data/urls_example.txt
results/
plots/
*.csv

# Logs
*.log

# Editor
.vscode/
.idea/

.coverage
coverage.xml
repomix-output.xml
